@charset "UTF-8";
/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
    display: block; }

@-webkit-viewport {
    width: device-width; }

@-moz-viewport {
    width: device-width; }

@-ms-viewport {
    width: device-width; }

@-o-viewport {
    width: device-width; }

@viewport {
    width: device-width; }

html {
    background: white;
    font-size: 62.5%;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: white;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    font-family: "ITCAvantGardeStd-Bk", "Helvetica Neue", Times, serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5em;
    color: #141414; }

body:after {
    content: '320';
    display: none; }

.m-hide {
    display: none !important;
    visibility: hidden; }

[role="banner"] {
    background: #5a2657 url(../img/pattern-5.png);
    border-bottom: 1px solid #481e45;
    margin-bottom: 0.75em;
    /*    padding: 0.75em 0;*/
    padding: 19px 0 5px;
    *zoom: 1;
    /*logo*/
    /*ul*/ }
[role="banner"]:before, [role="banner"]:after {
    display: table;
    content: ""; }
[role="banner"]:after {
    clear: both; }
[role="banner"] .logo {
    margin: 0 auto 0.375em auto;
    width: 200px;
    height: 65px;
    background: transparent url(../img/logo-reversed-sm.png) no-repeat 50% 0;
    text-indent: -9999px; }
[role="banner"] .logo a {
    display: block;
    height: 65px; }
[role="banner"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
[role="banner"] ul li {
    text-align: center; }
[role="banner"] ul li:first-child {
    float: left;
    width: 46.4604%;
    margin-right: -100%; }
[role="banner"] ul li:last-child {
    float: left;
    width: 46.4604%;
    margin-right: -100%;
    margin-left: 53.3354%; }

/*banner*/
.content {
    margin-bottom: 1.5em;
    padding: 0 5%;
    *zoom: 1; }
.content:before, .content:after {
    display: table;
    content: ""; }
.content:after {
    clear: both; }

.content--search {
    margin-bottom: 0;
    padding-top: 1.5em;
    background-color: rgba(56, 22, 54, 0.15); }

.content--info {
    padding-top: 1.5em;
    background-color: rgba(56, 22, 54, 0.05); }

.status--success {
    background-color: #cddcc9;
    border-color: #94b48b;
    color: #11170f; }

.status--error {
    background-color: #d1b0cf;
    border-color: #ab70a8;
    color: #321d31; }

.main {
    display: table-footer-group; }

.complementary {
    display: table-header-group; }

[role="contentinfo"] {
    position: relative;
    padding: 4.5em 0;
    text-align: center;
    /*li*/ }
[role="contentinfo"] > [rel="self"] {
    position: absolute;
    top: -38px;
    left: 50%;
    display: block;
    margin-left: -38px;
    height: 76px;
    width: 77px;
    background: transparent url(../img/kiss.png) no-repeat 0 0;
    text-indent: -9999px; }
[role="contentinfo"] ul {
    list-style-type: none;
    margin: 0 auto 1.5em;
    padding: 0; }
[role="contentinfo"] li {
    display: inline-block;
    margin-right: 24px; }
[role="contentinfo"] li:last-child {
    margin-right: 0; }

/*contentinfo*/
.index {
    /*banner*/ }
.index [role="banner"] {
    /*    padding: 1.5em 0;*/
    /*logo*/ }
.index [role="banner"] .logo {
    width: 313px;
    height: 103px;
    background-image: url(../img/logo-reversed.png); }
.index [role="banner"] .logo a {
    height: 103px; }
.index .hero-unit .secondary {
    text-align: center; }

/*index*/
hr {
    clear: both;
    display: block;
    margin: 1.5em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #e7e7e7; }

img {
    max-width: 100%;
    border-width: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic; }

.img-rounded {
    border-radius: 8px; }

.img-polaroid {
    padding: 12px;
    background-color: white;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
    border-radius: 500px; }

figure {
    margin-bottom: 1.5em; }
figure img {
    margin-bottom: 0.375em; }
figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic;
    color: #272727; }

@font-face {
    font-family: 'ITCAvantGardeStd-Bk';
    src: url("../webfonts/ITCAvantGardeStd-Bk.eot");
    src: local("☺"), url("../webfonts/ITCAvantGardeStd-Bk.woff") format("woff"), url("../webfonts/ITCAvantGardeStd-Bk.ttf") format("truetype"), url("../webfonts/ITCAvantGardeStd-Bk.svg") format("svg");
    font-weight: normal;
    font-style: normal; }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: inherit;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizelegibility; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #a7a7a7; }

h1,
.h1 {
    margin-bottom: 0.75em;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.3; }

h2,
.h2 {
    margin-bottom: 0.75em;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.3; }

h3,
.h3 {
    margin-bottom: 1em;
    font-size: 20.8px;
    font-size: 2.08rem;
    line-height: 1.3; }

h4,
.h4 {
    margin-bottom: 1.5em;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.25; }

h5,
.h5 {
    margin-bottom: 1.5em;
    font-size: 18.4px;
    font-size: 1.84rem; }

h6,
.h6 {
    margin-bottom: 1.5em;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase; }

p,
ol,
ul,
dl,
address {
    margin-bottom: 1.5em;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5em; }

small {
    font-size: 12.8px;
    font-size: 1.28rem; }

ul,
ol {
    margin: 0 0 1.5em -24px;
    padding: 0 0 0 24px; }

li ul,
li ol {
    list-style-type: none;
    margin: 1.5em 0;
    font-size: 16px;
    font-size: 1.6rem; }

ul.inline,
ol.inline {
    list-style-type: none;
    margin-left: 0; }
ul.inline > li,
ol.inline > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px; }

blockquote {
    margin: 0 0 1.5em 0;
    padding: 12px;
    background-color: white;
    font-style: normal; }
blockquote small:before {
    content: '\00A0 \2014'; }
blockquote small:after {
    content: ''; }
blockquote.pull-right {
    float: right;
    background-color: transparent; }
blockquote.pull-right p, blockquote.pull-right small {
    text-align: right; }
blockquote.pull-right small:before {
    content: ''; }
blockquote.pull-right small:after {
    content: '\00A0 \2014'; }
blockquote cite {
    font-style: normal; }

q {
    quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none; }

dl,
dd {
    margin-bottom: 1.5em; }

dt {
    font-weight: bold; }

.dl-horizontal {
    *zoom: 1; }
.dl-horizontal:before, .dl-horizontal:after {
    display: table;
    content: ""; }
.dl-horizontal:after {
    clear: both; }
.dl-horizontal dt {
    float: left;
    clear: left;
    width: 30.38869258%; }
.dl-horizontal dd {
    margin-left: 32.99289258%; }

abbr[title] {
    border-bottom: 1px dotted #e7e7e7;
    cursor: help; }

b, strong {
    font-weight: bold; }

dfn {
    font-style: italic; }

ins {
    background-color: white;
    color: #141414;
    text-decoration: none; }

mark {
    background-color: white;
    color: #141414;
    font-style: italic;
    font-weight: bold; }

pre,
code,
kbd,
samp {
    font-family: Monaco, Courier New, monospace;
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 1.5em;
    color: #151515; }

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }

sub,
sup {
    position: relative;
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 0;
    vertical-align: baselineheight; }

sup {
    top: -.5em; }

sub {
    bottom: -.25em; }

h1 sup,
h2 sup {
    padding: 0.5em 8px;
    background-color: #e7e7e7;
    border-radius: 8px;
    color: #676767; }

.lead {
    font-size: 18.4px;
    font-size: 1.84rem; }

.secondary {
    font-size: 13.91304px;
    font-size: 1.3913rem; }

.tertiary {
    font-size: 12.8px;
    font-size: 1.28rem; }

.spaced {
    letter-spacing: 1px; }

.heading {
    text-align: center; }

a {
    text-decoration: none;
    color: #bb5eb5; }
a:visited {
    color: #ca82c5; }
a:hover {
    text-decoration: underline;
    color: #d9a6d6; }
a:focus {
    outline: thin dotted;
    color: #bb5eb5; }
a:hover, a:active {
    outline: 0; }

::-moz-selection {
    background-color: white;
    color: #7e3579;
    text-shadow: none; }

::selection {
    background-color: white;
    color: #7e3579;
    text-shadow: none; }

.swatch {
    margin: 0 0 1.5em 0;
    padding: 0; }

.swatch-row {
    display: block;
    margin: 0;
    padding: 0;
    width: 200px;
    *zoom: 1; }
.swatch-row:before, .swatch-row:after {
    display: table;
    content: ""; }
.swatch-row:after {
    clear: both; }

.swatch-row-one {
    background-color: black; }

.swatch-row-two {
    background-color: white; }

.swatch-row span {
    display: block;
    float: left;
    width: 50px;
    height: 50px; }

.swatch-base span:nth-child(1) {
    background-color: rgba(126, 53, 121, 0.9); }

.swatch-base span:nth-child(2) {
    background-color: rgba(126, 53, 121, 0.8); }

.swatch-base span:nth-child(3) {
    background-color: rgba(126, 53, 121, 0.7); }

.swatch-base span:nth-child(4) {
    background-color: rgba(126, 53, 121, 0.6); }

.swatch-secondary span:nth-child(1) {
    background-color: rgba(56, 22, 54, 0.9); }

.swatch-secondary span:nth-child(2) {
    background-color: rgba(56, 22, 54, 0.8); }

.swatch-secondary span:nth-child(3) {
    background-color: rgba(56, 22, 54, 0.7); }

.swatch-secondary span:nth-child(4) {
    background-color: rgba(56, 22, 54, 0.6); }

.swatch-tertiary span:nth-child(1) {
    background-color: rgba(123, 170, 87, 0.9); }

.swatch-tertiary span:nth-child(2) {
    background-color: rgba(123, 170, 87, 0.8); }

.swatch-tertiary span:nth-child(3) {
    background-color: rgba(123, 170, 87, 0.7); }

.swatch-tertiary span:nth-child(4) {
    background-color: rgba(123, 170, 87, 0.6); }

.swatch-neutral span:nth-child(1) {
    background-color: rgba(103, 103, 103, 0.9); }

.swatch-neutral span:nth-child(2) {
    background-color: rgba(103, 103, 103, 0.8); }

.swatch-neutral span:nth-child(3) {
    background-color: rgba(103, 103, 103, 0.7); }

.swatch-neutral span:nth-child(4) {
    background-color: rgba(103, 103, 103, 0.6); }

.swatch-error span:nth-child(1) {
    background-color: rgba(209, 176, 207, 0.9); }

.swatch-error span:nth-child(2) {
    background-color: rgba(209, 176, 207, 0.8); }

.swatch-error span:nth-child(3) {
    background-color: rgba(209, 176, 207, 0.7); }

.swatch-error span:nth-child(4) {
    background-color: rgba(209, 176, 207, 0.6); }

.swatch-info span:nth-child(1) {
    background-color: rgba(205, 220, 201, 0.9); }

.swatch-info span:nth-child(2) {
    background-color: rgba(205, 220, 201, 0.8); }

.swatch-info span:nth-child(3) {
    background-color: rgba(205, 220, 201, 0.7); }

.swatch-info span:nth-child(4) {
    background-color: rgba(205, 220, 201, 0.6); }

.swatch-success span:nth-child(1) {
    background-color: rgba(205, 220, 201, 0.9); }

.swatch-success span:nth-child(2) {
    background-color: rgba(205, 220, 201, 0.8); }

.swatch-success span:nth-child(3) {
    background-color: rgba(205, 220, 201, 0.7); }

.swatch-success span:nth-child(4) {
    background-color: rgba(205, 220, 201, 0.6); }

.accordion {
    margin-bottom: 1.5em; }

.accordion__heading {
    border-bottom-width: 0; }
.accordion__heading .accordion__toggle {
    display: block;
    padding: 12px 0;
    cursor: pointer; }

/*accordion-heading*/
.accordion__inner {
    padding: 12px 0 0 0;
    border-top: 1px solid #e7e7e7; }

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.25s ease-in;
    -moz-transition: height 0.25s ease-in;
    -ms-transition: height 0.25s ease-in;
    -o-transition: height 0.25s ease-in;
    transition: height 0.25s ease-in; }

.collapse.in {
    height: auto; }

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 1.5em;
    background-color: #98c9e1;
    border: 1px solid #49a0ca;
    border-radius: 8px;
    font-size: 16px;
    font-size: 1.6rem;
    color: #1c485e; }
.alert > h4 {
    margin: 0;
    color: #1c485e; }

/*alert*/
.alert--success {
    background-color: #cddcc9;
    border-color: #94b48b;
    color: #11170f; }
.alert--success > h4 {
    color: #11170f; }

/*alert--success*/
.alert--danger,
.alert--error {
    background-color: #d1b0cf;
    border-color: #ab70a8;
    color: #321d31; }
.alert--danger > h4,
.alert--error > h4 {
    color: #321d31; }

/*alert--error*/
.alert--info {
    background-color: #cddcc9;
    border-color: #94b48b;
    color: #496541; }
.alert--info > h4 {
    color: #496541; }

/*alert--info*/
.alert--block padding {
    top: 14px;
    bottom: 14px; }
.alert--block > p,
.alert--block > ul {
    margin-bottom: 0; }
.alert--block > p + p {
    margin-top: 5px; }

/*alert--block*/
.breadcrumb {
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 0.75em 12px;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    font-size: 16px;
    font-size: 1.6rem;
    color: #404040;
    /*li*/ }
.breadcrumb > li {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
.breadcrumb > li a {
    color: #bb5eb5; }
.breadcrumb > li > .divider {
    color: #272727; }
.breadcrumb > .active {
    color: #a7a7a7; }

/*breadcrumb*/
.carousel {
    position: relative;
    margin-bottom: 1.5em;
    line-height: 1; }

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%; }
.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease; }
.carousel-inner > .item > img {
    display: block;
    line-height: 1; }
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block; }
.carousel-inner > .active {
    left: 0; }
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
.carousel-inner > .next {
    left: 100%; }
.carousel-inner > .prev {
    left: -100%; }
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0; }
.carousel-inner > .active.left {
    left: -100%; }
.carousel-inner > .active.right {
    left: 100%; }

/*carousel-inner*/
.carousel-control {
    position: absolute;
    top: 50%;
    left: -12px;
    margin-top: -22px;
    width: 44px;
    height: 44px;
    line-height: 46px;
    color: white;
    text-align: center;
    background-color: #bb5eb5;
    border-radius: 23px;
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -ms-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }
.carousel-control font {
    size: 60px;
    weight: 100; }
.carousel-control.right {
    left: auto;
    right: -12px; }
.carousel-control:hover {
    background-color: #b44cad;
    color: white;
    text-decoration: none; }

/*carousel-control*/
.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75); }

.carousel-caption h4,
.carousel-caption p {
    color: white;
    line-height: 1.5em; }

.carousel-caption h4 {
    margin: 0 0 5px; }

.carousel-caption p {
    margin-bottom: 0; }

.hero-unit {
    margin-bottom: 1.5em;
    padding: 24px;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    color: inherit;
    /*p*/ }
.hero-unit p {
    font-size: 20px;
    font-size: 2rem; }
.hero-unit p > em {
    color: #7e3579; }
.hero-unit p:last-child {
    margin-bottom: 0; }

/*hero-unit*/
.media,
.media-body {
    overflow: hidden;
    *overflow: visible;
    zoom: 1; }

.media,
.media .media {
    margin-top: 15px; }

.media:first-child {
    margin-top: 0; }

.media-object {
    display: block; }

.media-heading {
    margin: 0 0 5px; }

.media .pull-left {
    float: left;
    margin-right: 12px; }

.media .pull-right {
    float: right;
    margin-left: 12px; }

.media-list {
    margin-left: 0;
    list-style-type: none; }

.nav {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0; }

.nav > li > a {
    display: block;
    margin: 0;
    padding: 0; }

.nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(232, 202, 230, 0.3); }

.nav > li > a > img {
    max-width: none; }

.nav > .pull-right {
    float: right; }

.nav-header {
    display: block;
    padding: 3px 12px;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.5em;
    color: #a7a7a7;
    text-transform: uppercase; }

.nav li + .nav-header {
    margin-top: 9px; }

.nav-list {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0; }

.nav-list > li > a,
.nav-list .nav-header {
    margin-left: -12px;
    margin-right: -12px; }

.nav-list > li > a {
    padding: 3px 15px;
    color: #bb5eb5; }

.nav-list > .active > a,
.nav-list > .active > a:hover {
    color: white;
    background-color: #bb5eb5; }

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right: 2px; }

.nav-tabs,
.nav-pills {
    *zoom: 1; }
.nav-tabs:before, .nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
    display: table;
    content: ""; }
.nav-tabs:after,
.nav-pills:after {
    clear: both; }

.nav-tabs > li,
.nav-pills > li {
    float: left; }

.nav-tabs > li > a,
.nav-pills > li > a {
    padding-right: 11px;
    padding-left: 11px;
    margin-right: 2px;
    line-height: 14px; }

.nav-tabs {
    padding-left: 0;
    border-bottom: 1px solid #e7e7e7; }

.nav-tabs > li {
    margin-bottom: -1px; }

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5em;
    border: 1px solid transparent;
    border-radius: 8px 8px 0 0; }
.nav-tabs > li > a:hover {
    border-color: #e7e7e7 #e7e7e7 #e7e7e7;
    border-bottom-color: transparent; }

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    color: #7e3579;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-bottom-color: transparent;
    cursor: default; }

.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 32px;
    color: #bb5eb5;
    background-color: #f8edf7; }
.nav-pills > li > a:hover {
    background-color: #e8cae6; }

/*nav-pills*/
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: white;
    background-color: #bb5eb5; }

.nav-stacked > li {
    float: none; }

.nav-stacked > li > a {
    margin-right: 0; }

.nav-tabs.nav-stacked {
    border-bottom: 0; }

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #e7e7e7;
    border-radius: 0; }

.nav-tabs.nav-stacked > li:first-child > a {
    border-top-radius: 8px; }

.nav-tabs.nav-stacked > li:last-child > a {
    border-bottom-radius: 8px; }

.nav-tabs.nav-stacked > li > a:hover {
    border-color: #e7e7e7;
    z-index: 2; }

.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px; }

.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px; }

.tabbable {
    padding: 0; }

.tab-content {
    overflow: auto; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none; }

.tab-content > .active,
.pill-content > .active {
    display: block; }

.tabs-below > .nav-tabs {
    border-top: 1px solid #e7e7e7; }

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a {
    border-radius: 0 0 8px 8px; }

.tabs-below > .nav-tabs > li > a:hover {
    border-bottom-color: #e7e7e7;
    border-top-color: transparent; }

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
    border-color: transparent #e7e7e7 #e7e7e7 #e7e7e7; }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px; }

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #e7e7e7; }

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    border-radius: 8px 0 0 8px; }

.tabs-left > .nav-tabs > li > a:hover {
    border-color: #e7e7e7 #e7e7e7 #e7e7e7 #e7e7e7;
    border-right-color: transparent; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
    border-color: #e7e7e7 transparent #e7e7e7 #e7e7e7;
    *border-right-color: white; }

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    padding: 0;
    border-left: 1px solid #e7e7e7; }

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    border-radius: 0 8px 8px 0; }

.tabs-right > .nav-tabs > li > a:hover {
    border-color: #e7e7e7 #e7e7e7 #e7e7e7 #e7e7e7;
    border-left-color: transparent; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
    border-color: #e7e7e7 #e7e7e7 #e7e7e7 transparent;
    *border-left-color: white; }

.nav > .disabled > a {
    color: #a7a7a7; }

.nav > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    cursor: default; }

.nav .ss-icon {
    margin-right: 12px;
    font-size: 13px;
    font-size: 1.3rem;
    color: #ca82c5; }

.navbar {
    *position: relative;
    *z-index: 2;
    overflow: visible;
    margin: 0 5% 1.5em; }

.navbar__inner {
    position: relative;
    min-height: 44px;
    background-color: #7e3579;
    border: 0px solid #7e3579;
    border-radius: 8px;
    *zoom: 1; }
.navbar__inner padding {
    left: 24px;
    right: 24px; }
.navbar__inner:before, .navbar__inner:after {
    display: table;
    content: ""; }
.navbar__inner:after {
    clear: both; }

.navbar .container {
    width: auto; }

.nav-collapse.collapse {
    overflow: visible;
    height: auto; }

.navbar__brand {
    float: left;
    display: block;
    padding: 0.75em 24px;
    font-size: 12.8px;
    font-size: 1.28rem;
    color: #a2449b; }
.navbar__brand:hover {
    text-decoration: none; }

/*navbar__brand*/
.navbar__lang {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0.75em 24px;
    font-size: 12.8px;
    font-size: 1.28rem;
    color: #a2449b; }
.navbar__lang:hover {
    text-decoration: none; }

/*navbar__lang*/
.navbar-text {
    margin-bottom: 0;
    line-height: 44px;
    color: white; }

.navbar-link {
    color: #e8cae6; }
.navbar-link:hover {
    color: #381636; }

/*navbar-text*/
.navbar .divider-vertical {
    height: 44px;
    margin: 0;
    border-left: 1px solid #7e3579;
    border-right: 1px solid #a2449b; }

.navbar .nav {
    display: block;
    position: relative;
    left: 0;
    margin: 0; }

.navbar .nav.pull-right {
    float: right;
    margin-right: 0; }

.navbar .nav > li > a {
    float: none;
    padding: 0.75em 12px;
    color: #e8cae6;
    font-size: 12.8px;
    font-size: 1.28rem;
    text-decoration: none; }

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: rgba(232, 202, 230, 0.3);
    color: #381636;
    text-decoration: none; }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: #7e3579;
    color: white;
    text-decoration: none; }

.pager {
    list-style-type: none;
    margin: 1.5em 0;
    padding: 0;
    text-align: center;
    *zoom: 1; }
.pager:before, .pager:after {
    display: table;
    content: ""; }
.pager:after {
    clear: both; }

.pager li {
    display: inline; }

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 4px 11px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-family: "ITCAvantGardeStd-Bk", Helvetica, Arial, sans-serif;
    font-size: 12.8px;
    font-size: 1.28rem;
    color: #bb5eb5; }

.pager li > a:hover {
    text-decoration: none;
    background-color: #e6e6e6; }

.pager .next > a,
.pager .next > span {
    float: right; }

.pager .previous > a,
.pager .previous > span {
    float: left; }

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > span {
    color: #141414;
    background-color: transparent;
    cursor: default; }

.pagination {
    margin: 0 0 1.5em 0; }

.pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0; }

.pagination ul > li {
    display: inline; }

.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 11px;
    font-family: "ITCAvantGardeStd-Bk", Helvetica, Arial, sans-serif;
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 1.5em;
    text-decoration: none;
    background-color: white;
    border: 1px solid #cccccc;
    border-left-width: 0;
    color: #bb5eb5; }

.pagination ul > li > a:hover {
    background-color: #e8cae6;
    color: #381636; }

.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #7e3579;
    color: white;
    text-decoration: none;
    cursor: default; }

.pagination ul > .active > a:hover {
    background-color: #7e3579; }

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
    background-color: transparent;
    color: #a7a7a7;
    cursor: default; }

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    background-color: white;
    border-left-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #7e3579; }

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #7e3579; }

.pagination-centered {
    text-align: center; }

.pagination-right {
    text-align: right; }

.pagination-large ul > li > a,
.pagination-large ul > li > span {
    padding: 8px 22px;
    font-size: 16px;
    font-size: 1.6rem; }

.pagination-small ul > li > a,
.pagination-small ul > li > span {
    padding: 4px 11px;
    font-size: 14px;
    font-size: 1.4rem; }

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
    padding: 2px 5px;
    font-size: 12px;
    font-size: 1.2rem; }

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "ITCAvantGardeStd-Bk", Helvetica, Arial, sans-serif; }

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5em; }
.table th,
.table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #e7e7e7;
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 1.5em;
    text-align: left; }
.table th {
    font-weight: bold; }
.table thead th {
    vertical-align: bottom; }
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0; }
.table tbody + tbody {
    border-top: 2px solid #e7e7e7; }
.table tbody tr td,
.table tbody tr th {
    -webkit-transition: background-color 0.25s 0 ease;
    -moz-transition: background-color 0.25s 0 ease;
    -ms-transition: background-color 0.25s 0 ease;
    -o-transition: background-color 0.25s 0 ease;
    transition: background-color 0.25s 0 ease; }
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #e8cae6; }

.table-condensed th,
.table-condensed td {
    padding: 4px 5px; }

.table-bordered {
    border: 1px solid #e7e7e7;
    border-left: 0;
    border-collapse: separate;
    *border-collapse: collapsed; }
.table-bordered th,
.table-bordered td {
    border-left: 1px solid #e7e7e7; }
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #f8edf7; }

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #e8cae6; }

.tooltip {
    position: absolute;
    z-index: 1000;
    display: block;
    visibility: visible;
    font-size: 11pxpx;
    font-size: 1.1pxrem;
    line-height: 1.4;
    opacity: 0; }
.tooltip.in {
    opacity: .8; }
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0; }
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px; }
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0; }
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px; }

/*tooltip*/
.tooltip-inner {
    max-width: 200px;
    padding: 8px;
    background-color: #381636;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none; }

/*tooltip-inner */
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #381636; }
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: 5px; }
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #381636; }
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #381636; }

/*tooltip*/
.well {
    min-height: 20px;
    padding: 12px;
    margin-bottom: 1.5em;
    background-color: white;
    border: 1px solid #f8edf7;
    border-radius: 8px;
    color: #141414; }
.well ul {
    list-style-type: none; }
.well p:last-child {
    margin-bottom: 0; }

.well--large {
    padding: 24px;
    -webkit-box-shadow: inset 0 1px 24px #e6e6e6;
    -moz-box-shadow: inset 0 1px 24px #e6e6e6;
    box-shadow: inset 0 1px 24px #e6e6e6; }

.well--small {
    padding: 6px;
    -webkit-box-shadow: inset 0 1px 6px #e6e6e6;
    -moz-box-shadow: inset 0 1px 6px #e6e6e6;
    box-shadow: inset 0 1px 6px #e6e6e6; }

form {
    margin: 0 0 1.5em 0;
    font-family: "ITCAvantGardeStd-Bk", "Helvetica Neue", Times, serif; }
form p {
    margin-bottom: 0.75em; }
form ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0; }
form br {
    display: none; }

fieldset {
    margin-bottom: 1.5em;
    padding: 0;
    border-width: 0; }
fieldset:last-of-type {
    margin-bottom: 0; }

legend {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    *margin-left: -7px;
    padding: 0 0 0.75em 0;
    border: 0;
    color: #141414;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.5em;
    white-space: normal; }
legend small {
    font-size: 1.125em;
    color: #2e2e2e; }

label,
input,
button,
select,
textarea {
    font-family: "ITCAvantGardeStd-Bk", "Helvetica Neue", Times, serif; }

label {
    display: block;
    margin-bottom: 0.375em;
    font-size: 16px;
    font-size: 1.6rem; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
    display: inline-block;
    margin-bottom: 0.75em;
    padding: 6px 11px;
    font-size: 13.91304px;
    font-size: 1.3913rem;
    line-height: 1.5em;
    color: inherit;
    border-radius: 8px;
    vertical-align: middle; }

input,
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

textarea {
    height: auto;
    resize-x: none; }

select, textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: white;
    border: 1px solid #b3b3b3; }
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover {
    border-color: #818181; }
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: #747474;
    outline: 0;
    outline: thin dotted \ 9; }

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    *margin-top: 0;
    margin-top: 1px \ 9;
    line-height: normal; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto; }

select {
/*    padding: 0 !important;*/
    width: 90%; }

select[multiple],
select[size] {
    height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

input:-moz-placeholder,
textarea:-moz-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
    color: #a7a7a7; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
    color: #a7a7a7; }
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
    color: #a7a7a7; }

.radio,
.checkbox {
    min-height: 1.5em;
    font-size: 16px;
    font-size: 1.6rem; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-right: 12px; }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: 5px; }

.radio.inline,
.checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 12px; }

.input-mini {
    width: 60px; }

.input-small {
    width: 90px; }

.input-medium {
    width: 150px; }

.input-large {
    width: 210px; }

.input-xlarge {
    width: 270px; }

.input-xxlarge {
    width: 530px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    opacity: .25; }

.form-actions {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.5em 24px 1.5em;
    *zoom: 1; }
.form-actions:before, .form-actions:after {
    display: table;
    content: ""; }
.form-actions:after {
    clear: both; }

.help-block,
.help-inline {
    color: #2e2e2e;
    font-size: 12.8px;
    font-size: 1.28rem;
    line-height: 1.4; }

.help-block {
    display: block;
    margin-bottom: 0.75em; }

.help-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding-left: 12px; }

.help-block,
.help-inline {
    color: #2e2e2e; }

.help-block {
    display: block;
    margin-bottom: 0.75em; }

.help-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding-left: 24px; }

.form-horizontal {
    /*controls*/
    /*input*/ }
.form-horizontal .control-group {
    margin-bottom: 1.5em;
    *zoom: 1; }
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
    display: table;
    content: ""; }
.form-horizontal .control-group:after {
    clear: both; }
.form-horizontal .control-label {
    float: left;
    width: 49%;
    padding-top: 0px;
    padding-right: 24px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
.form-horizontal .controls {
    *display: inline-block;
    margin-left: 49%;
    *margin-left: 0;
    *padding-left: 24px; }
.form-horizontal .controls:first-child {
    *padding-left: 24px; }
.form-horizontal .help-block {
    margin-bottom: 0; }
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
    margin-top: 0.75em; }
.form-horizontal .form-actions {
    padding-left: 49%; }

.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle; }
.form-horizontal .hide {
    display: none; }
.form-horizontal label,
.form-horizontal .btn-group {
    display: inline-block; }
.form-horizontal .control-group {
    margin-bottom: 0.75em; }
.form-horizontal legend + .control-group {
    margin-top: 1.5em;
    -webkit-margin-top-collapse: separate; }

/*form-horizontal*/
input.search-query {
    margin-bottom: 0;
    padding-right: 14px;
    padding-right: 4px \ 9;
    padding-left: 14px;
    padding-left: 4px \9;
    border-radius: 0; }

.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
    border-radius: 0; }

.form-search .input-append .search-query {
    border-radius: 14px, 0, 0, 14px; }

.form-search .input-append .btn {
    border-radius: 0, 14px, 14px, 0; }

.form-search .input-prepend .search-query {
    border-radius: 0, 14px, 14px, 0; }

.form-search .input-prepend .btn {
    border-radius: 14px, 0, 0, 14px; }

.form-search {
    /*radio*/ }
.form-search input,
.form-search textarea,
.form-search select {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle; }
.form-search .hide {
    display: none; }
.form-search label,
.form-search .btn-group {
    display: inline-block; }
.form-search .radio,
.form-search .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle; }
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
    float: left; }
.form-search .radio input[type="radio"] margin,
.form-search .checkbox input[type="checkbox"] margin {
    right: 3px;
    left: 0; }
.form-search .control-group {
    margin-bottom: 0.75em; }
.form-search legend + .control-group {
    margin-top: 1.5em;
    -webkit-margin-top-collapse: separate; }

/*form-search*/
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 5px 10px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-weight: normal;
    font-family: "ITCAvantGardeStd-Bk", "Helvetica Neue", Times, serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5em;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #7e3579;
    border: 1px solid #5a2657;
    border-bottom-color: #481e45;
    border-radius: 8px;
    cursor: pointer; }
.btn:visited, .btn:hover, .btn:active {
    color: white;
    text-decoration: none; }

/*btn*/
.btn:first-child {
    *margin-left: 0; }

.btn-disabled {
    opacity: .5;
    cursor: default; }

.btn-error {
    background-color: #d1b0cf;
    border-color: #be90bb;
    border-bottom-color: #ab70a8;
    color: white; }
.btn-error:visited, .btn-error:active, .btn-error:hover {
    background-color: #be90bb;
    color: #f2f2f2; }

/*btn-error*/
.btn-info {
    background-color: #cddcc9;
    border-color: #b0c8aa;
    border-bottom-color: #94b48b;
    color: #496541; }
.btn-info:visited, .btn-info:active, .btn-info:hover {
    background-color: #b0c8aa;
    color: #3e5537; }

/*btn-info*/
.btn-inverse {
    background-color: #414141;
    border-color: #272727;
    border-bottom-color: #0e0e0e;
    color: white; }
.btn-inverse:visited, .btn-inverse:active, .btn-inverse:hover {
    background-color: #343434;
    color: #f2f2f2; }

/*btn-inverse*/
.btn-primary {
    background-color: #7e3579;
    border-color: #7e3579;
    border-bottom-color: #5a2657;
    color: white; }
.btn-primary:visited, .btn-primary:active, .btn-primary:hover {
    background-color: #73306f;
    color: #f2f2f2; }

/*btn-primary*/
.btn-success {
    background-color: #cddcc9;
    border-color: #b0c8aa;
    border-bottom-color: #b0c8aa;
    color: white; }
.btn-success:visited, .btn-success:active, .btn-success:hover {
    background-color: #bfd2ba;
    color: #f2f2f2; }

/*btn-success*/
.btn-warning {
    background-color: #d1b0cf;
    border-color: #be90bb;
    border-bottom-color: #ab70a8;
    color: white; }
.btn-warning:visited, .btn-warning:active, .btn-warning:hover {
    background-color: #c8a0c5;
    color: #f2f2f2; }

/*btn-warning*/
.btn-extlarge {
    padding: 11px 22px;
    font-size: 32px;
    font-size: 3.2rem;
    border-width: 2px;
    border-radius: 16px; }

.btn.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px; }

/*btn.btn-large*/
.btn-large {
    padding: 11px 18px;
    font-size: 20px;
    font-size: 2rem;
    line-height: inherit;
    border-width: 2px;
    border-radius: 16px; }

.btn-small {
    padding: 5px 10px;
    font-size: 10.66667px;
    font-size: 1.06667rem;
    line-height: inherit; }

.btn-mini {
    padding: 3px 5px;
    font-size: 9.14286px;
    font-size: 0.91429rem;
    line-height: inherit; }

.btn-group {
    position: relative;
    *zoom: 1;
    *margin-left: .3em;
    margin-bottom: 1.5em; }
.btn-group .btn {
    position: relative;
    float: left;
    margin-left: -1px;
    border-radius: 0; }
.btn-group .btn:first-child {
    margin-left: 0;
    border-radius: 2px, 0, 2px, 0; }
.btn-group .btn:last-child {
    border-radius: 0, 2px, 0, 2px; }
.btn-group .btn.large:first-child {
    margin-left: 0;
    border-radius: 4px, 0, 4px, 0; }
.btn-group .btn.large:last-child {
    border-radius: 0, 4px, 0, 4px; }

/*btn.btn-group*/
.btn-toolbar {
    clear: both;
    margin-top: 0.75em;
    margin-bottom: 0.75em; }
.btn-toolbar .btn-group {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

/*btn.btn-toolbar*/
.wrap {
    position: relative;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }

.wrap.active {
    left: 16em; }

.navigation-left-nav-flyout-toggle {
    float: left;
    display: block;
    padding: 5px; }
.navigation-left-nav-flyout-toggle:hover {
    text-decoration: none; }

/*navigation-left-nav-flyout-toggle*/
nav[role=navigation] {
    background: #6c2d68 url(../img/pattern-5.png);
    clear: both;
    overflow: hidden; }

.js nav[role=navigation] {
    position: absolute;
    top: 0;
    left: -16em;
    width: 16em;
    height: 100%; }

#navigation-left-nav-flyout ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

#navigation-left-nav-flyout a {
    display: block;
    min-height: 44px;
    line-height: 44px;
    padding: 0 5%;
    color: white;
    border-top: 1px solid #5a2657;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
#navigation-left-nav-flyout a:hover {
    text-decoration: none; }
#navigation-left-nav-flyout a .ss-icon {
    padding-right: 12px;
    color: #bb5eb5; }

/*a*/
.navbar__lang {
    border-width: 0 !important; }

.content {
    clear: both; }

.l-panel {
    border-top: 1px solid #c370bd;
    border-bottom: 7px solid #676767; }
.l-panel:first-child {
    border-top-width: 0;
    border-bottom-width: 0; }
.l-panel:nth-child(2) {
    border-top-width: 0; }
.l-panel:last-of-type {
    margin-bottom: 1.5em;
    border-bottom-width: 0; }

.l-trigger {
    padding: 1.5em 12px;
    background-color: #7e3579;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(126, 53, 121, 0.6)), to(rgba(126, 53, 121, 0.9)));
    background-image: -webkit-linear-gradient(top, rgba(126, 53, 121, 0.6), rgba(126, 53, 121, 0.9));
    background-image: -moz-linear-gradient(top, rgba(126, 53, 121, 0.6), rgba(126, 53, 121, 0.9));
    background-image: -ms-linear-gradient(top, rgba(126, 53, 121, 0.6), rgba(126, 53, 121, 0.9));
    background-image: -o-linear-gradient(top, rgba(126, 53, 121, 0.6), rgba(126, 53, 121, 0.9));
    background-position: 0 0;
    background-repeat: repeat-x;
    border-bottom: 2px solid #6c2d68;
    color: white; }
.l-trigger:first-of-type {
    border-top-width: 0; }
.l-trigger h1, .l-trigger p {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 10px #7e3579; }
.l-trigger h1 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: uppercase; }
.l-trigger p {
    margin-bottom: 0.75em; }
.l-trigger p:last-child {
    margin-bottom: 0;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: right; }
.l-trigger a, .l-trigger a:visited {
    display: block;
    color: white; }
.l-trigger a:hover, .l-trigger a:visited:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none; }

.l-wrap {
    margin: 0 auto; }

.l-hidden.in {
    margin-bottom: 3em;
    padding: 3em 12px 0.75em 12px; }
.l-hidden .l-wrap {
    margin-bottom: 3em; }
.l-hidden .l-wrap > h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: normal;
    color: rgba(20, 20, 20, 0.5); }
.l-hidden .l-content {
    border-bottom: 1px solid #e7e7e7; }
.l-hidden:last-of-type {
    border-bottom-width: 0; }

.l-introduction {
    margin: 0;
    padding: 0;
    background-color: white; }
.l-introduction .hero-unit {
    margin: 0;
    padding: 24px 0.75em 48px;
    background-color: transparent;
    border-width: 0; }
.l-introduction .hero-unit .secondary {
    font-size: 14px;
    font-size: 1.4rem;
    text-align: center; }

#panel-images-hidden img {
    max-width: 120px;
    margin-right: 12px; }

#panel-typography-hidden:active {
    display: block !important; }

.samples .logo {
    margin: 0 auto 0.75em;
    width: 315px;
    height: 103px;
    background: transparent url(../img/logo.png) no-repeat 0 0;
    text-indent: -9999px; }

@media only screen and (min-width: 48em) {
    .samples .l-introduction {
        padding: 3em 0 6em 0; }
    .samples .l-introduction .hero-unit {
        margin: 0 auto;
        padding: 0;
        width: 90%;
        max-width: 768px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
    .samples nav[role=navigation] {
        width: 100%;
        background-color: #473f3f;
        color: white; }
    .samples nav[role=navigation] ul {
        margin: 0 auto;
        width: 90%;
        max-width: 768px; }
    .samples nav[role=navigation] ul a, .samples nav[role=navigation] ul a:visited {
        color: white; }

    .hidden hr {
        margin: 0 auto;
        width: 90%;
        max-width: 768px; }

    .l-wrap {
        *zoom: 1;
        width: 90%;
        max-width: 768px; }
    .l-wrap:before, .l-wrap:after {
        display: table;
        content: ""; }
    .l-wrap:after {
        clear: both; }

    .l-summary {
        float: left;
        margin-right: -100%;
        width: 38.4375%;
        padding-right: 24px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }

    #panel-typography .l-trigger .l-summary,
    #panel-colour .l-trigger .l-summary,
    #panel-images .l-trigger .l-summary,
    #panel-navigation .l-trigger .l-summary,
    #panel-modules .l-trigger .l-summary,
    #panel-forms .l-trigger .l-summary,
    #panel-tables .l-trigger .l-summary,
    #panel-widgets .l-trigger .l-summary {
        min-height: 40px;
        background-image: url(../img/l-trigger-icons.png);
        background-repeat: no-repeat; }

    #panel-typography .l-trigger .l-summary {
        background-position: 95% 0; }

    #panel-colour .l-trigger .l-summary {
        background-position: 95% -300px; }

    #panel-images .l-trigger .l-summary {
        background-position: 95% -600px; }

    #panel-navigation .l-trigger .l-summary {
        background-position: 95% -100px; }

    #panel-modules .l-trigger .l-summary {
        background-position: 95% -700px; }

    #panel-forms .l-trigger .l-summary {
        background-position: 95% -400px; }

    #panel-tables .l-trigger .l-summary {
        background-position: 95% -500px; }

    #panel-widgets .l-trigger .l-summary {
        background-position: 95% -800px; }

    .l-content {
        clear: right;
        float: left;
        margin-left: 41.0417%;
        margin-right: -100%;
        width: 58.9583%; }

    [role="contentinfo"] small {
        display: block; } }
@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important; }

    @page {
        margin: 0.5cm; }

    h2, h3 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid; }

    p {
        orphans: 3;
        widows: 3; }

    pre, blockquote {
        border: 1px solid #666;
        page-break-inside: avoid; }

    abbr[title]:after {
        content: " (" attr(title) ")"; }

    a, a:visited {
        text-decoration: underline; }

    a[href]:after {
        content: " (" attr(href) ")"; }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""; }

    img {
        max-width: 100% !important;
        page-break-inside: avoid; }

    thead {
        display: table-header-group; }

    tr {
        page-break-inside: avoid; } }
@media only screen and (min-width: 30em) {
    body:after {
        content: 'bp2';
        display: none; }

    [role="banner"] .logo {
        width: 200px;
        height: 65px; }

    /*banner*/
    .navbar .nav {
        float: left;
        margin-right: 12px; }

    .navbar .nav > li {
        float: left; } }
@media only screen and (min-width: 37.5em) {
    body:after {
        content: 'bp3';
        display: none; }

    .navigation-toggle {
        display: none; }

    .js nav[role=navigation] {
        max-height: none; }

    #navigation-toggle {
        margin: 0 0 0 -0.25em;
        border-width: 0; }
    #navigation-toggle ul {
        margin: 0 auto; }
    #navigation-toggle ul li {
        display: inline-block;
        margin: 0 12px 0 0; }
    #navigation-toggle a {
        border-width: 0;
        font-size: 14px;
        font-size: 1.4rem;
        text-transform: none; }

    [role="banner"] {
        position: relative;
        /*ul*/ }
    [role="banner"] .logo {
        margin: 0 0 0 5%; }
    [role="banner"] ul {
        position: absolute;
        top: 1.5em;
        right: 24px;
        width: 41.5763%; }
    [role="banner"] ul li:first-child,
    [role="banner"] ul li:last-child {
        float: none;
        width: auto;
        margin-right: 0;
        text-align: right; }

    /*banner*/
    .cols {
        *zoom: 1; }
    .cols:before, .cols:after {
        display: table;
        content: ""; }
    .cols:after {
        clear: both; }
    .cols .col:first-child {
        float: left;
        width: 46.4604%;
        margin-right: -100%; }
    .cols .col:last-child {
        float: left;
        width: 46.5083%;
        margin-left: 53.3354%;
        margin-right: -100%; }

    /*cols*/
    [role="banner"] {
        margin-bottom: 1.5em; } }
@media only screen and (min-width: 48em) {
    body:after {
        content: 'bp4';
        display: none; }

    .m-hide {
        display: inline-block !important;
        visibility: visible; }

    .t-hide {
        display: none !important;
        visibility: hidden; }

    .hero-unit {
        padding: 48px;
        background-color: white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        /*p*/ }
    .hero-unit p {
        font-size: 18.4px;
        font-size: 1.84rem; }
    .hero-unit p > sup {
        font-size: 18.4px;
        font-size: 1.84rem;
        color: #7e3579; }
    .hero-unit p:last-child {
        margin-bottom: 0; }
    .hero-unit h1 {
        margin-bottom: 0.375em;
        font-size: 48px;
        font-size: 4.8rem;
        line-height: 1;
        letter-spacing: -1px; }

    /*hero-unit*/
    .navigation-footer-anchor li {
        display: inline-block;
        margin-right: 24px; }

    .f-nav li a {
        border-width: 0; }

    .js nav[role=navigation] {
        position: static;
        width: auto;
        max-width: none; }

    .navigation-left-nav-flyout-toggle {
        display: none; }

    #navigation-left-nav-flyout a {
        border-width: 0; }
    #navigation-left-nav-flyout a .ss-icon {
        display: none; }

    /*a*/
    .wrap.active {
        left: 0; }

    #navigation-left-nav-flyout ul {
        width: 90%;
        margin: 0 auto; }

    #navigation-left-nav-flyout li {
        display: inline-block;
        margin: 0 .25em; }

    .content {
        margin: 0 auto 3em;
        width: 90%;
        max-width: 86.375em; }
    .content .main,
    .content .complementary {
        display: block;
        float: left;
        margin-right: -100%; }
    .content .main {
        width: 58.4727%; }
    .content .complementary {
        width: 37.7773%;
        margin-left: 62.1394%; }

    /*content*/
    .content--search {
        margin-bottom: 0;
        padding: 3em 5% 1.5em; }

    .content--info {
        padding: 3em 5% 1.5em; }

    .cols {
        *zoom: 1; }
    .cols:before, .cols:after {
        display: table;
        content: ""; }
    .cols:after {
        clear: both; }
    .cols .col:first-child,
    .cols .col:last-child {
        float: none;
        width: auto;
        margin: 0; }

    /*cols*/
    .index {
        background: transparent url(../img/index.jpg) no-repeat 35% 0;
        /*content--hero*/
        /*content--search*/
        /*content--info*/ }
    .index .content--hero {
        margin-bottom: 0; }
    .index .content--hero .main {
        width: 42%; }
    .index .content--hero .lead {
        font-size: 24px;
        font-size: 2.4rem;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25), 0 0 40px rgba(255, 255, 255, 0.9); }
    .index .content--search {
        padding: 0;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid whitesmoke;
        border-radius: 16px 16px 0 0; }
    .index .content--search .heading {
        margin: 0 0 1.5em 0;
        padding: 0.75em 0;
        background: #a2449b url(../img/pattern-5.png);
        border-radius: inherit;
        color: white; }
    .index .content--search .main,
    .index .content--search .complementary {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
    .index .content--search .main {
        padding-left: 24px; }
    .index .content--search .complementary {
        padding-right: 24px; }
    .index .content--search .control-span {
        clear: both;
        padding: 1.5em 24px 0; }
    .index .content--info {
        margin-top: 1.5em;
        padding: 1.5em 24px;
        background: rgba(255, 255, 255, 0.9) url(../img/pattern-3.png);
        border: 1px solid whitesmoke;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }

    /*index*/ }
@media only screen and (min-width: 62em) {
    body:after {
        content: 'bp5';
        display: none; }

    .t-hide {
        display: inline-block !important;
        visibility: visible; }

    .d-hide {
        display: none !important;
        visibility: hidden; }

    [role="banner"] .logo {
        margin: 0 auto; }

    /*banner*/
    .navbar {
        margin: 0 auto 3em;
        width: 90%;
        max-width: 86.375em; }

    .content .main {
        width: 70.7527%; }
    .content .complementary {
        width: 26.9746%;
        margin-left: 72.9749%; }

    /*content*/
    .form-horizontal {
        *zoom: 1; }
    .form-horizontal:before, .form-horizontal:after {
        display: table;
        content: ""; }
    .form-horizontal:after {
        clear: both; }
    .form-horizontal .control-groups {
        float: left;
        width: 46.4604%; }
    .form-horizontal .control-groups:last-child {
        margin-left: 3.1408%; }
    .form-horizontal .control-span {
        clear: both; }

    /*form-horizontal*/
    .index {
        background-position: 25% 0;
        /*content--hero*/
        /*main*/ }
    .index .content--hero .main {
        width: 50%; }
    .index .content--hero .lead {
        font-size: 32px;
        font-size: 3.2rem; }
    .index .main {
        /*well*/ }
    .index .main .well {
        float: left;
        width: 38.11376246%; }
    .index .main .well:last-child {
        margin-left: 3.1408%; }

    /*index*/ }
@media only screen and (min-width: 86.375em) {
    body:after {
        content: 'bp6';
        display: none; } }

/* === added by pairoo === */
.box {
    -moz-box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid whitesmoke;
    border-radius: 16px 16px 0 0;
    padding: 0;
}
.box .heading {
    background: url("../img/pattern-5.png") repeat scroll 0 0 #A2449B;
    border-radius: inherit;
    color: white;
    margin: 0 0 1.5em;
    padding: 0.75em 0;
}

.box .main {
    padding-left: 24px;
    padding-right: 24px;
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-right: 0 !important;
    width: 100% !important;
}