@font-face {
	font-family: 'RaphaelIcons';
	src: url('raphaelicons-webfont.eot');
	src: local('☺'), url('raphaelicons-webfont.woff') format('woff'),
		url('raphaelicons-webfont.ttf') format('truetype'),
		url('raphaelicons-webfont.svg#webfontjJTHv0E8') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
   font-family: Georgia;
   local: Georgia;                // Erst nachsehen, ob die Schrift
	                          // beim Besucher schon installiert ist

   src: url(/repos/Georgia.ttf);  // Wenn nicht, wird die Schrift vom 
	                          // Webserver geladen
}
 */
@font-face {
	font-family: mplus-1p-regular;
	src: url('mplus-1p-medium.ttf') format("truetype");
}