<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="UserAccount_new" class="com.pairoo.domain.UserAccount"
		scope="prototype">
	</bean>
	<bean id="UserAccount_saved" class="com.pairoo.domain.UserAccount"
		scope="prototype">
		<property name="id" value="1"></property>
		<property name="password" value="abcdefg"></property>
		<property name="username" value="james007"></property>
	</bean>
	<bean id="UserAccount_unsaved" class="com.pairoo.domain.UserAccount"
		scope="prototype">
		<property name="password" value="abcdefg"></property>
		<property name="username" value="james007"></property>
	</bean>
</beans>