<b>Dear ${user.userAccount.username},</b>
one picture is more than 1000 words. You know this saying and you know it is true.
 
Increase your flirt factor about 50 percent and up load one or more pictures from you.
With a picture your more attractive to other visitors and get more contact requests....

 
To upload your picture now click on the link to get directly to your picture dialog in your profile


									${activationLink}


The PAIROO support team wish you great success and good luck to find your love.

If you have any question or recommendation email to support@pairoo.com.

Copyright 2011-2014 PAIROO GmbH