<b>Hallo ${user.userAccount.username},</b>
Schön dass Sie Mitglied von PAIROO sind - das haben Sie richtig gemacht. 
PAIROO die internationale Partnerbörse bietet Ihnen viele Möglichkeiten, den Partner fürs Leben zu finden.
 
Wir können Ihnen heute ein besonderes Angebot unterbreiten:
Nutzen Sie PAIROO uneingeschränkt für 3 Tage. 
 
Klicken Sie hierzu auf den Link und Sie können gleich uneingeschränkt flirten und daten.

									${activationLink}


Das PAIROO Team wünscht Ihnen viel Erfolg und Glück in der Liebe.
 
Bei Fragen und Anregungen senden Sie uns eine E-Mail an support@pairoo.de.

Copyright 2011-2014PAIROO GmbH