<b> Gentile ${user.userAccount.username},</b>
Siamo lieti che ti sia associato a PAIROO: hai fatto la cosa giusta.
La borsa contatti internazionali PAIROO di ti offre innumerevoli possibilitá per trovare il partner della tua vita. 

Ecco la nostra offerta di oggi apposta per te:
Utilizza PAIROO in tutte le sue funzioni per tre giorni.

Clicca l'apposito link e subito potrai contattare e flirtare illimitatamente.
 

									${activationLink}

Il team PAIROO ti augura buona fortuna nella tua ricerca, successo in amore e felicitá.

Per quesiti o suggerimenti invia una mail a:support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH