<b>Dear ${user.userAccount.username},</b>
increase your flirt factor about 50 percent with your complete profile.

With a complete profile you are more interesting to other users an get more contact requests.
 
Complete your profile now and click on the link to get directly to your profile

									${activationLink}


The PAIROO support team wish you great success and good luck to find your love.

If you have any question or recommendation email to support@pairoo.com.

Copyright 2011-2014 PAIROO GmbH