Gentile ${user.userAccount.username} Benvenuto su PAIROO!Mille grazie per la tua iscrizione alla nostra borsa internazionale di contatti e congratulazioni per avere attivato il tuo Coupon.

Tra poco potrai iniziare e grazie alla formula PREMIUM contattare e flirtare infinitamente. Inizia subito a cercare la tua metá. Per la tua sicurezza ti preghiamo di confermarci il tuo indirizzo email. In questo modo possiamo essere certi che nessuno si metta in contattto usando il tuo nome.



 Abbiamo registrato questo indirizzo Email. Conferma ora la correttezza e clicca sul seguente Link:
${activationLink}

. Ti riassumiamo i dati della tua associazione: 

 
Stato iscrizione:  ${productRole} fino ${endDate}
Abbonamento:     ${subscriptionFunctionality}Costo: nessuno (pagato con coupon). Allo scadere del Coupon la tua formula PREMIUM sará communtata in una formula base gratuita.Il Team di Pairoo ti augura buona fortuna e successo e felicità nella ricerca del tuo partner.
Sei ha domande o suggerimenti manda una mail a: support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH