<b>Bonjour ${user.userAccount.username},</b>
merci d'être membre de Pairoo - tu as bien choisi. 
Le portail international de rencontre sur internet PAIROO offre de nombreuses possibilités de rencontrer un partenaire pour la vie.
 
Nous te faisons une offre spéciale aujourd'hui:
Utilise PAIROO de facon illimitée pendant 3 jours. 
 
Clique sur le lien et tu pourras flirter et contacter sans limite immédiatement.

									${activationLink}


L'équie PAIROO se souhaite beaucoup de succès et de bonheur en amour.
 
Pour toute question ou suggestion contacte nous par e-mail: support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH