Hola ${user.userAccount.username},
hemos recibido su email.
 
revisaremos su peticion lo mas pronto posible, y le responderemos por E-Mail.
 
A proposito, sabia usted que debido al entrelazamiento internacional de Pairoo, 
puede usted elegir deliberadamente en su busqueda  el origen de su companero deseado?


El equipo de PAIROO le desea suerte en el amor y exito en su busqueda.
 
en caso de preguntas o ideas envienos un email a support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH