Hello ${user.userAccount.username}, 

${visitor.userAccount.username} finds you very interesting and has sent you a message.

Look immediately to your pairoo email box.
Click the link and you will be directly guided to your pairoo mail box.

${activationLink}

Now you can start to find the partner of your dreams.

The PAIROO support team wish you great success and good luck to find your love.

If you have any question or recommendation email to support@pairoo.com.

Copyright 2011-2014 PAIROO GmbH