Hallo ${user.userAccount.username},
wir haben Ihre Anfrage per email erhalten.
 
Wir werden Ihre Anfrage so schnell wie möglich bearbeiten und uns per email melden.
 
Wussten Sie übrigens, dass Sie aufgrund der internationalen Vernetzung von PAIROO,
gezielt die Herkunft Ihres Wunschpartners als Suchkriterium auswählen können?

Das PAIROO Team wünscht Ihnen viel Erfolg und Glück in der Liebe.
 
Bei Fragen und Anregungen senden Sie uns eine email an support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH