Bonjour ${user.userAccount.username},
ous avons reçu ta demande par email.
 
Nous traiterons ta demande le plus rapidement possible et nous te contacterons par e-mail.
 
Savais-tu que grâce au réseau international de PAIROO
tu peux chercher ton partenaire explicitement en sélectionnant son origine comme critère de recherche?

L'équipe PAIROO te souhaite beaucoup de succès et de bonheur en amour.
 
Pour toute question ou suggestion contacte nous par e-mail: support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH