Dear ${user.userAccount.username},
we have received your support request.

We will process your request timely and will inform you via email about the current status.

Did you know that the international PAIROO network offers you great opportunities to select the ethnicity
of your preferred partner?


The PAIROO support team wish you great success and good luck to find your love.

If you have any question or recommendation email to support@pairoo.com.

Copyright 2011-2014 PAIROO GmbH