Gentile ${user.userAccount.username}, 

${visitor.userAccount.username} ti trova molto interessante e ti ha mandato un occhiolino. Verifica i tuoi messaggi. Accedi adesso alla tua casella di posta

${activationLink}Il team PAIROO ti augura buona fortuna nella tua ricerca, successo in amore e felicitá.
 
Per quesiti o suggerimenti invia una mail a:support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH