Gentile ${user.userAccount.username},
Abbiamo ricevuto una richiesta per mail.
 
Provvederemo ad inoltrare la risposta nel piú breve tempo possibile.
 
Sapevi che su Pairoo puoi selezionare la ricerca e la nazione di provenienza del tuo partner?

Il team PAIROO ti augura buona fortuna nella tua ricerca, successo in amore e felicitá.
 
Per quesiti o suggerimenti invia una mail a:support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH