Querido socio-Pairoo,

Su nueva contraseña es: ${password}

Saludos
Su equipo Pairoo

en caso de preguntas pude usted enviarnos un E-Mail a support@pairoo.de 

Copyright 2011-2014 PAIROO GmbH