Gentile ${user.userAccount.username} Congratulazioni. Ti sei registrato con successo alla innovativa borsa contatti internazionale PAIROO.
Adesso puoi iniziare!
Ti consigliamo di essere creativo e di rendere il tuo profilo interessante agli altri iscritti.
Per la tua sicurezza ti preghiamo di confermarci il tuo indirizzo email. 
In questo modo saremo certi che nessuno possa usare il tuo nome per entrare in contatto con gli altri utenti.
Il tuo indirizzo email risulta essere ${user.email}. Da ora puoi dedicarti alla ricerca del partner dei tuoi sogni.
Il Team di Pairoo ti augura buona fortuna e successo e felicità nella ricerca del tuo partner.
Sei ha domande o suggerimenti manda una mail a:n support@pairoo.de.

Copyright 2011-2014 PAIROO GmbH